<div class="login-container d-flex justify-content-center align-items-center">
  <div class="card p-4 shadow-lg" style="width: 350px;">
    <h4 class="text-center mb-3">Login to E-Gram Panchayat</h4>

    <form (ngSubmit)="login()">

      @if (true) {
        <div class="mb-3">
          <label>Email</label>
          <input
            type="email"
            class="form-control"
            [(ngModel)]="email"
            name="email"
            required
          />
        </div>
      }

      @if (true) {
        <div class="mb-3">
          <label>Password</label>
          <input
            type="password"
            class="form-control"
            [(ngModel)]="password"
            name="password"
            required
          />
        </div>
      }

      <button class="btn btn-primary w-100" type="submit">Login</button>
    </form>
  </div>
</div>

