html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f8f9fa;
  font-family: "Segoe UI", sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}
